.forecast-info {
  width: clamp(var(--width-min), 90%, var(--width-max));
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.card-info {
  /* width: 180px; */
  height: 184px;
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  /* background-color: #ffffff77; */
  background-color: var(--second);
  backdrop-filter: blur(7px);
}
.card-info-header {
  display: flex;
  align-items: center;
  color: var(--second-color);
}
.card-info-title {
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
}
.card-info-text {
  margin: 1.1rem 0 auto;
  font-size: 1.7rem;
  font-weight: 300;
}

.card-info-text_right {
  text-align: end;
}
