.card-info {
  min-width: 180px;
  min-height: 180px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  background-color: rgb(199, 199, 199);
  border-radius: 1rem;
}
.card-info-header {
  display: flex;
  align-items: center;
}

.card-info-title {
  margin: 0;
  padding: 0;
  font-size: var(--f-s-n-normal);
}
.card-info-icon {
  background-image: url(../../images/svg/wind.svg);
}
.card-info-text {
  margin: auto 0;
  font-size: 2rem;
}
