/* .forecast-daily {
  width: clamp(var(--width-min), 90%, var(--width-max));
  margin-bottom: 0.5rem;
  width: 398px;
  padding: 0.9rem 0.9rem 0 0.9rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-main);
  background-color: var(--second);
  grid-column: 1 / 3;
} */

/* .forecast-daily-header {
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
} */

/* .forecast-daily-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.forecast-daily-title {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
} */

/* .forecast-daily-list {
  margin: 0;
  padding: 0;
} */

/* .forecast-daily-item {
  height: 2.5rem;
  display: grid;
  grid-template-columns: 65px 40px 1fr 35px 35px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
} */

/* .forecast-daily-item:last-child {
  border: none;
} */

/* .forecast-daily-item-day {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
} */

/* .forecast-daily-item-icon {
  width: 40px;
  height: 40px;
} */

/* .forecast-daily-item-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.forecast-daily-item-description,
.forecast-daily-item-description-precipitation {
  margin: 0;
  font-size: var(--f-s-n-small);
  text-align: center;
}

.forecast-daily-item-description-precipitation {
  margin-top: 0.2rem;
  font-size: 8px;
} */

.forecast-daily-item-temp {
  margin: 0;
  text-align: center;
}
