.container {
  width: clamp(var(--width-min), 90%, var(--width-max));
  margin-bottom: 0.5rem;
  padding: 0.9rem;
  border-radius: var(--radius-main);
  background-color: var(--second);
}
details {
  background-color: var(--second);
  cursor: pointer;
  transition: background 0.3s;
  min-height: 30px;
  max-height: 30px;
  transform-origin: top center;
  transform: rotate(0.1deg);
  transition: all 0.5s;
}
details ::-webkit-details-marker {
  display: none;
}

details + details {
  margin-top: 10px;
}

.alerts-header {
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-color);
}

details[open] {
  transition: all 1s;
  min-height: 100px;
  max-height: 200px;
  overflow: hidden;
}

summary:before {
  content: url(../../images/svg/exclamation-octagon.svg);
  width: 20px;
  height: 20px;
  margin-right: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
}

.alert-list {
  list-style: none;
  padding: 0.8rem 0.8rem 0 0.8rem;
  margin: 0;
}

.alert-item {
  padding: 0.3rem;
}

.alerts-text {
  margin: 0;
  padding: 0;
  display: flex;
}

.alerts-text::before {
  content: url(../../images/svg/info_square.svg);
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
}

details[open] div {
  animation: spoiler 1s;
}
@keyframes spoiler {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
