.card-hourly {
  /* width: 90%; */
  width: 376px;
  min-height: 150px;
  margin-bottom: 0.5rem;
  padding: 0.9rem 0.9rem 0 0.9rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: #ffffff77;
  backdrop-filter: blur(7px);
}

.card-hourly-header {
  display: flex;
  align-items: center;
  color: var(--second-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  padding-bottom: 0.5rem;
}

.card-hourly-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.card-hourly-title {
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
}

.card-hourly-info-container {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  /* display: grid; */
  /* grid-template-columns: repeat(25, 64.5px); */
  /* grid-template-rows: 60px; */
  gap: 5px;
  /* border: 1px solid red; */
  /* overflow-x: scroll; */
  /* overflow-y: hidden; */
  /* white-space: nowrap; */

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.card-hourly-info-container::-webkit-scrollbar {
  width: 0;
  padding: 0;
  margin: 0;
}

.card-hourly-info-container-item {
  min-width: 65px;
  height: 80px;
  margin: 0.3rem 0 0 0;
  display: flex;
  flex-direction: column;
  /* border: 1px solid cornflowerblue; */
}

.card-hourly-info-container-item-hour {
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 20px;
  font-size: 0.9rem;
}

.card-hourly-info-container-item > img {
  /* background-color: crimson; */
  background-size: 100%;
}

.div2 {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.div3 {
  width: 100%;
  height: 20px;
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
}
