.card {
  width: 90%;
  max-width: 376px;
  margin: 2rem 0 0 0;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  color: whitesmoke;
  /* position: sticky;
  top: 0px; */
}

.card-city {
  font-family: var(--font-family-Jost);
  font-weight: 400;
  font-size: 1.6rem;
}

.card-temp {
  margin: 0;
  font-family: var(--font-family-Jost);
  font-weight: 200;
  font-size: 4rem;
}

.card-description {
  margin: 0.7rem;
  font-family: var(--font-family-Jost);
  font-weight: 400;
  font-size: 1rem;
}
