.card-user {
  width: 100%;
  max-width: 250px;
  margin: 1rem 0;
  /* height: 18rem; */
  /* background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)); */
  background-image: var(--bs-gradient);
  /* border-radius: 15px; */
  text-align: center;
  /* border: 1px solid grey; */
  box-sizing: border-box;
}

.card-icon-weather {
  width: 50px;
  height: 50px;
  display: block;
  margin-right: auto;
}
.card-body-user {
  padding: 1rem;
}

.card-userstyle {
  width: "20rem";
  height: "20rem";
  border-radius: "15px";
}

.card-img-top-size {
  width: 50px;
  height: 50px;
}

.card-title {
  font-size: larger;
}

.card-text-user {
  font-size: 3rem;
}
