.list-group-item-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-text-user {
  margin: 0;
  padding: 0 0.5rem;
}

.list-size {
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
}

.text-size {
  margin: auto;
  font-size: xx-small;
}
