.search {
  width: 90%;
  height: 2.5rem;
  display: flex;
  margin-bottom: 1rem;
  /* border-bottom: 1px solid grey; */
  background-color: rgb(199, 199, 199);
  padding: 0.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.search:focus-within {
  border: 1px solid rgb(0, 60, 255);
}

.search-input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  border: none;
  background-color: rgb(199, 199, 199);
}

.search-input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.search-button {
  width: 2rem;
  margin: 0;
  padding: 0;
  background-image: url(../../images/svg/search.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  border: none;
  background-color: rgb(199, 199, 199);
}
.search-button:hover {
  background-size: 60%;
  cursor: pointer;
}

/* .input-group-sm {
  border-radius: 15px;
} */

/* .form-control {
  border-radius: 15px;
} */

.form-control-user {
  border-radius: 15px;
}

.text-field__icon {
  position: relative;
}

.text-field__icon .text-field__input {
  padding-right: 2.5rem;
}

.text-field__aicon {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0.875rem;
  width: 1rem;
  cursor: pointer;
  color: #bdbdbd;
  transition: color 0.15s ease-in-out;
}

.text-field__aicon:hover {
  color: #212529;
}
