
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;500&display=swap"); */
.card {
  width: 90%;
  max-width: 376px;
  margin: 2rem 0 0 0;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  color: var(--third);
}
.card-city {
  font-family: var(--font-family-Jost);
  font-weight: 400;
  font-size: 1.6rem;
}
.card-temp {
  margin: 0;
  font-family: var(--font-family-Jost);
  font-weight: 200;
  font-size: 4rem;
}
.card-description {
  margin: 0.7rem;
  font-family: var(--font-family-Jost);
  font-weight: 400;
  font-size: 1rem;
}
.forecast-hourly {
  width: clamp(var(--width-min), 90%, var(--width-max));
  margin-bottom: 0.5rem;
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-main);
  background-color: var(--second);
}
.forecast-hourly-header {
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
.forecast-hourly-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
.forecast-hourly-title {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
}
.forecast-hourly-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.forecast-hourly-list::-webkit-scrollbar {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
.forecast-hourly-item {
  min-width: 62px;
  height: 80px;
  margin: 0.3rem 0 0 0;
  display: flex;
  flex-direction: column;
}
.forecast-hourly-item-hour {
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.9rem;
  line-height: 20px;
}
.forecast-hourly-item-icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.forecast-hourly-item-temp {
  width: 100%;
  height: 20px;
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
}
.forecast-info {
  width: clamp(var(--width-min), 90%, var(--width-max));
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.card-info {
  /* width: 180px; */
  height: 184px;
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  /* background-color: #ffffff77; */
  background-color: var(--second);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
.card-info-header {
  margin: 0 0 1rem 0;
  display: flex;
  align-items: center;
}
.card-info-title {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
}
.card-info-text {
  margin: 0 0 auto 0;
  font-size: 1.7rem;
  font-weight: 300;
}
.card-info-description {
  margin: auto 0 0 auto;
  font-size: 1.2rem;
  font-weight: 400;
}
.card-info-text_right {
  text-align: end;
}
/* УФ-ИНДЕКС */
input[type="range"] {
  height: 11px;
  -webkit-appearance: none;
  margin: 0.5rem 0 0 0;
  width: 100%;
  background: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, green, yellow, orange, red, violet);
  border-radius: 16px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: black;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(to right, green, yellow, orange, red, violet);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, green, yellow, orange, red, violet);
  border-radius: 16px;
}
input[type="range"]::-moz-range-thumb {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: black;
  border: none;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: linear-gradient(to right, green, yellow, orange, red, violet);
  border: 0px solid #000000;
  border-radius: 32px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: linear-gradient(to right, green, yellow, orange, red, violet);
  border-radius: 32px;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: black;
}
input[type="range"]:focus::-ms-fill-lower {
  background: linear-gradient(to right, green, yellow, orange, red, violet);
}
input[type="range"]:focus::-ms-fill-upper {
  background: linear-gradient(to right, green, yellow, orange, red, violet);
}
/* УФ-ИНДЕКС */
.forecast-daily {
  width: clamp(var(--width-min), 90%, var(--width-max));
  margin-bottom: 0.5rem;
  padding: 0.9rem 0.9rem 0 0.9rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-main);
  background-color: var(--second);
}
.forecast-daily-header {
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
.forecast-daily-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
}
.forecast-daily-title {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
}
.forecast-daily-list {
  margin: 0;
  padding: 0;
}
.forecast-daily-item {
  height: 2.5rem;
  display: grid;
  grid-template-columns: 65px 40px 1fr 35px 35px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
.forecast-daily-item:last-child {
  border: none;
}
.forecast-daily-item-day {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}
.forecast-daily-item-icon {
  width: 40px;
  height: 40px;
}
.forecast-daily-item-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}
.forecast-daily-item-description,
.forecast-daily-item-description-precipitation {
  margin: 0;
  font-size: var(--f-s-n-small);
  text-align: center;
}
.forecast-daily-item-description-precipitation {
  margin-top: 0.2rem;
}
.forecast-daily-item-temp {
  margin: 0;
  text-align: center;
}
.search {
  width: 90%;
  max-width: 376px;
  /* height: 2.5rem; */
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  color: var(--third);
  /* background-color: #ffffff77; */
  background-color: var(--second);
  /* backdrop-filter: blur(7px); */
  transition: 0.3s ease-in-out;
}
.search:focus-within {
  background: rgb(218, 218, 218);
  transition: 0.3s ease-in-out;
}
/* .search:focus-within {
  border: 1px solid rgb(0, 60, 255);
} */
.search-input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--third);
}
.search-input::placeholder {
  color: var(--third);
}
.search-input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.search-button {
  width: 2rem;
  margin: 0;
  padding: 0;
  background-image: url(/src/images/svg/search.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  border: none;
  /* background-color: rgb(199, 199, 199); */
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
.search-button:hover {
  background-size: 60%;
  cursor: pointer;
}
.form-control-user {
  border-radius: 15px;
}
.text-field__icon {
  position: relative;
}
.text-field__icon .text-field__input {
  padding-right: 2.5rem;
}
.text-field__aicon {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0.875rem;
  width: 1rem;
  cursor: pointer;
  color: #bdbdbd;
  transition: color 0.15s ease-in-out;
}
.text-field__aicon:hover {
  color: #212529;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  /* Шрифт */
  /* --font-family-PLUS: "M PLUS 1p", sans-serif; */
  --font-family-Jost: "Jost", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --f-s-x-small: 0.5rem;
  --f-s-n-small: 0.7rem;
  --f-s-b-small: 0.8rem;
  --f-s-n-normal: 1rem;

  /* Цвет */
  --first: #f5feff;
  --second: #bde4f4;
  --third: #404969;
  --fourth: #dc552c;
  /* Цвет */
  /* Размеры */
  --width-min: 376px;
  --width-max: 376px;
  --width-mobile: 376px;
  /* Размеры */
  /* Border */
  --radius-main: 1rem;
  --border-color: #b1bed5;
  /* Border */

  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  /* min-width: 375px; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-Jost);
  background-color: var(--first);
  color: var(--third);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(
    180deg,
    var(--first-color-gradient),
    var(--second-color-gradient),
    var(--third-color-gradient)
  );
  background-size: 300% 300%;
  animation: gradient-animation 5s ease infinite; */
  /* background-image: url(https://images.unsplash.com/photo-1580826237584-fda5b612e1bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; */
}
.text_right {
  text-align: end;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.App {
  /* background-image: url(https://images.unsplash.com/photo-1562155618-e1a8bc2eb04f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3291&q=80); */

  height: 100vh;
  min-width: 414px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.city {
  font-size: 20px;
}
.temp {
  font-size: 50px;
}
.svg-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
}
